.DS_Store
desktop.ini
__pycache__
# generated on build
gfx/*/tile_config.json

# built sprite sheets
gfx/*/*.png

# built book
book

# Krita
*.png-autosave.kra
*.kra
*.kra~
*.png~

# Direnv & Nix
.direnv
result
.local

# Source multitile files
source

# This particular fallback file should be included
!gfx/PenAndPaper/fallback.png
