name: Book

on:
  push:
    branches:
      - master

jobs:
  book:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install mdBook
        uses: XAMPPRocky/get-github-release@v1
        with:
          owner: barsoosayque
          repo: mdbook
          matches: 'mdbook.tar.gz'
          token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Build book
        run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/
